<div class="pulse-divider" aria-hidden="true">
  <svg viewBox="0 0 1200 60" preserveAspectRatio="none">
    <path class="pulse-divider__line" d="M0 30 H420 L460 30 L480 8 L505 52 L525 30 H1200" />
  </svg>
</div>
